{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='css/style.min.css')}}">
{% endblock %}

{% block body_attribs %} class="app sidebar-show sidebar-compact aside-menu-show" {% endblock %}

{% block content %}
<header class="app-header navbar">
	Header Content
</header>
<div class="app-body">
	<div class="sidebar">
		Sidebar Content
	</div>

	<main class="main">
		<div class="container-fluid">
			{% block maincontent %}
			{% endblock %}
		</div>
	</main>
	<aside class="aside-menu">
		Aside Menu Content
	</aside>
</div>
<footer class="app-footer">
	Footer Content
</footer>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='js/coreui.min.js')}}"></script>
{% endblock %}
